<div id="main">
  <div class="main-page">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Goodneighbor</h1>
        <p class="lead">Get to know your neighbors</p>
      </div>
    </div>
  </div>
</div>

<body id="profile-page-body">
  <div class="profile-background">
    <div class="row">
      <div class="container-fluid">
      </div>
    </div>

    <table>...</table>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>