<div id="main">
  <div class="main-page">
    <div id="nav">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Good Neighbor</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</div>

<body id="profile-page-body">
  <div class="profile-background">
    <div class="row">
      <div class="container-fluid">
      </div>
    </div>

    <div id="mapCol">
      <div id="mapid"></div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>