<div id="main">
  <div class="main-page">
    <div id="nav">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Good Neighbor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>
    </div>
    <div class="mainTitle">
      <div class="container">
        <h1 class="display-4">Good Neighbor</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
              </div>
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
              </div>
      
              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
              </div>
      
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-deep-orange">Sign up</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-bottom-center">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Not a member?Sign up!</a>
      </div>

<body id="profile-page-body">
  <div class="profile-background">
    <div class="row">
      <div class="container-fluid">
      </div>
    </div>

    <div id="mapCol">
      <div id="mapid"></div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
