.list-group-item {
  line-height: 2.5;
}
<<<<<<< HEAD

#mapid {
  height: 200px;
=======
.nav {
  
}
.jumbotron{
  color: #7a4a88;
  background-image: url(../styles/images/treebackground.jpg);
  background-color:black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 140%;
  margin:auto;
}
#profile-page-body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: rgb(255, 0, 140);
  background-image: url(../styles/images/treebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 140%;
  background-color: #a45ee5; /* Used if the image is unavailable */
  z-index: 800;
  margin-bottom:0;
>>>>>>> f05e6f47989992b4c44c41a5eb41804a236f5337
}