<div class="row ml-0 mr-0">
    <div id="demo" class="collapse">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">{{member_name}}</h5>
                <p class="card-text">{{member_post}} </p>
            </div>
        </div>
    </div>
</div>