<div class="container" style="text-align: center;">

    <!-- Button trigger modal -->

    {{message}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
        style="margin-top: 100px;">
        Let's Signin Here!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Signin Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/signin" id="signup" method="post" name="signin">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" name="name">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="mac">Submit</button>
                    </form>

                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>
</div>



{{!-- <script>
    $(document).ready(function () {
        $("#mac").on("click", (event) => {

            console.log("$$$$$$")
            $.get("/failpage.json", (data) => {
                console.log(data);
                $('#errModal').modal('show');
            })
                
        })
    })
</script> --}}