{{!-- static create post section --}}
<div class="card bg-light mb-3 mt-5 mx-auto" style="max-width: 50rem;">
    <div class="card mb-3">
        {{!-- <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-seller-tab" data-toggle="tab" href="#nav-seller" role="tab"
                    aria-controls="nav-seller" aria-selected="true">Seller</a>
                <a class="nav-item nav-link" id="nav-buyer-tab" data-toggle="tab" href="#nav-buyer" role="tab"
                    aria-controls="nav-buyer" aria-selected="false">Buyer</a>
            </div>
        </nav> --}}

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-seller" role="tabpanel" aria-labelledby="nav-seller-tab">
                <div class="container mx-auto mt-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><b>Create Post</b></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Create a new post here!"></textarea>
                        </div>
                    </form>
                    <div class="mb-2 float-right">
                        <button type="button" class="btn btn-outline-success" id="submit-post">Submit</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-buyer" role="tabpanel" aria-labelledby="nav-buyer-tab">
                <div class="container mx-auto mt-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><b>Create Post</b></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="What are you looking for?"></textarea>
                        </div>
                    </form>
                    <div class="mb-2 float-right">
                        <button type="button" class="btn btn-outline-success" id="submit-post">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!--END  --}}

    {{!-- viewmap on the page --}}
    <div class="container">
        <div class="row">
            {{#each login}}
            {{>posts/map}}
            {{/each}}
        </div>
        {{!--END  --}}

        {{!-- Display Post --}}
        <div class="row">
            <div class="card bg-light mb-3" style="max-width: 50rem;">
                <div class="card-header">Posts</div>
                {{#each member_post}}
                {{>posts/viewposts}}
                {{/each}}

                {{!-- END --}}



                {{!-- <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card bg-light mb-3" style="max-width: 30rem;">
                    <div class="card-header">Posts</div>
                    {{#each member_post}}
                    {{>posts/viewposts}}
                    {{/each}}
                    {{!-- Code goes here --}}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
main div ending --}}
</div>
</div>
</div>
</div>